<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiapps360.LearnClockTime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnClockTime">
        <activity android:name="com.mobiapps360.LearnClockTime.PrivacyPolicyActivity" />
        <activity android:name="com.mobiapps360.LearnClockTime.LearnClockActivity" />
        <activity android:name="com.mobiapps360.LearnClockTime.GuessTimeActivity" />
        <activity android:name="com.mobiapps360.LearnClockTime.SetTimeActivity" />
        <activity android:name="com.mobiapps360.LearnClockTime.PlayClockActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LearnClockTime.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7546454767986772~8210674695" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>